<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <% icon_file = "default_#{current_user.faction}.jpg" %>
    <%= image_tag icon_file, width: "50", height: "50", class: "rounded-circle" %>
  </td>
  <td>
    <h3 class="small"><%= comment.user.username %></h3>
    <p><%= simple_format(comment.body) %></p>
  </td>
  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        </li>
        <li class="list-inline-item">
          <%= link_to comment_path(comment), class: "delete-comment-link", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>