<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= user.faction %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= user.rank_id %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= user.avatar_url %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </p>

</div>
